# Python
__pycache__/
*.py[cod]
*.so
.env
venv/
env/

# Node
node_modules/
npm-debug.log*
yarn-error.log*
build/
dist/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3
